body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: navy;
    background-color: antiquewhite
}

h1 {
    font-size: 48px;
    text-decoration:underline
}

h2 {
    font-size: 30px;
    text-decoration:underline
}

.titulo-celda {
    text-align: center
}