body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: navy;
    background-color: red
}

h1 {
    font-size: 92px
}

h2 {
    font-size: 24px;
    text-decoration:underline
}

a:link {
    text-decoration: underline
}

a:hover {
    color: red
}

a:active {
    color: yellow
}

/* --- */

aside {
    flex-wrap: wrap;
    justify-content: right;
    border: 0px solid violet;
    width: 25vw
}

header {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

footer {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

nav {
    border: 0px solid green;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around   
}

main {
    border: 0px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}


section {
    border: 0px solid blue;
}



/* --- */

.btnweb {
    height: 30px
}


.celda-center {
    display: flex;
    align-items: center
}


.celda-borde {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center
}


.icono-whatsapp {
    position: fixed;
    bottom: 10px;
    right: 50px
}


.section-contenido {
    border: 0px solid yellow;
    width: 65vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start
}

.section-fotos-finalizadas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 0px solid orange;
    width: 75%
}

.titulo-celda {
    text-align: center
}

.titulo-custom-1 {
    font-family: Arial;
    font-size: 2em
}

.titulo-custom-2 {
    font-family: Calibri;
    font-size: 2rem
}

@font-face {
    font-family: "ricardofont";
    src: url("../fonts/BAUHS93.TTF") format('truetype');
}

.titulo-custom-3 {
    font-family: ricardofont;
    font-size: 3rem
}

.titulo-custom-4 {
    font-family: 'Playfair', serif;
    font-size: 5rem
}