body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: navy;
    background-color: antiquewhite
}

h1 {
    font-size: 48px;
    text-decoration:underline
}

h2 {
    font-size: 30px;
    text-decoration:underline
}

a:link {
    text-decoration: underline
}

a:hover {
    color: red
}

a:active {
    color: yellow
}

/* --- */


/* Pantalla grande */
@media (min-width: 1200px) {
    body {
        background-color: lightpink
    }

    h2 {
        font-size: 36px
    }

    .img-logo {
        width: 100%; height: 100%
    }

    .torta {
        width: 350px;
        height: 275px
    }

    .huevo-pascua {
        display: none
    }


    .otro-huevo {
        display: none
    }
}

/* Tablet */
@media (max-width: 1199px) {
    body {
        background-color: gainsboro
    }

    h2 {
        font-size: 24px
    }

    .img-logo {
        width: 75%;
        height: 90%
    }

    .torta {
        width: 250px;
        height: 175px
    }


    .huevo-pascua {
        display: none
    }

    .otro-huevo {
        display: block
    }
}

/* Mobile */
@media (max-width: 799px) {
    body {
        background-color: lightskyblue
    }
    h2 {
        font-size: 12px;
    }

    .img-logo {
        width: 50%;
        height: 80%
    }

    .torta {
        width: 150px;
        height: 100px
    }


    .huevo-pascua {
        display: block
    }

    .otro-huevo {
        display: block
    }

}



aside {
    flex-wrap: wrap;
    justify-content: right;
    border: 0px solid violet;
    width: 25vw
}

header {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

footer {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

nav {
    border: 0px solid green;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around   
}

main {
    border: 0px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}


section {
    border: 0px solid blue;
}



/* --- */

.celda-center {
    display: flex;
    align-items: center
}


.celda-borde {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center
}


.icono-whatsapp {
    position: fixed;
    bottom: 10px;
    right: 50px
}


.section-contenido {
    border: 0px solid yellow;
    width: 65vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start
}

.section-fotos-finalizadas {
    border: 0px solid orange;
    width: 75%
}

.titulo-celda {
    text-align: center
}

.titulo-custom-1 {
    font-family: Arial;
    font-size: 2em
}

.titulo-custom-2 {
    font-family: Calibri;
    font-size: 2rem
}

@font-face {
    font-family: "ricardofont";
    src: url("../fonts/BAUHS93.TTF") format('truetype');
}

.titulo-custom-3 {
    font-family: ricardofont;
    font-size: 3rem
}

.titulo-custom-4 {
    font-family: 'Playfair', serif;
    font-size: 5rem
}